<div class="main-container gradient-container">
  <div style="width: 300px; height: 500px;">
    <%= cl_image_tag @cocktail.photo.key, height: 1200, width: 800, crop: :fill %>
  </div>
  <div class="doses-container">
    <h1> <%= @cocktail.name %> </h1>
    <% @doses.each do |dose| %>
      <h2>
        <%= "#{dose.description} #{dose.ingredient.name}" %>
        <span class="dose-options">
          <%= link_to dose_path(dose), method: :delete, data: {confirm: 'Delete this ingredient?'} do %>
            <i class="fas fa-trash text-light"></i>
          <% end %>
        </span>
      </h2>
    <% end %>

    <%= render 'doses/form', cocktail: @cocktail, dose: @dose %>
  </div>
</div>




<%= link_to "Home", cocktails_path %>
