<% if false %>
  
<% end %>

<% if false %>
  <div class="w-100 h-100" style="display: flex; flex-direction: column; flex-grow: 1; align-items: center;">
  <%= image_tag "https://res.cloudinary.com/hayatocloud/image/upload/#{@cocktail.photo.key}", style: "height: 30vh; width: 100%; object-fit: cover; object-position: center;" %>
  <div class="container" style="margin-right: 16px; margin-left: 16px; flex-grow: 1;">
    <h1 style="font-size: 2.5em; text-align: center; color: white; margin-bottom: 20px; margin-top: 20px;"> <%= @cocktail.name %> </h1>
    <% @doses.each do |dose| %>
      <div style="display: flex; width: 100%; justify-content: space-between;">
        <p style="font-family: Times New Roman; color: white; font-size: 1.7em;">
          <%= dose.ingredient.name %>
        </p>
        
        <p style="font-family: Times New Roman; font-size: 1.7em; color: #E67E22;">
          <%= dose.description %>
        </p>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<div class="w-100 h-100" style="
  <% if @cocktail.photo.attached? %>
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<%="https://res.cloudinary.com/hayatocloud/image/upload/#{@cocktail.photo.key}"%>);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<%="https://res.cloudinary.com/hayatocloud/image/upload/#{@cocktail.photo.key}"%>);
  <% end %>
  background-size: cover;
  background-position: center;
  display: flex; flex-direction: column; flex-grow: 1; align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  flex-grow: 1;
  ">
  <div class="container-fluid py-3 px-3" style="display: flex; flex-direction: column; align-items: center; background-color: rgba(0, 0, 0, 0.7); width: 100%;">
    <h1 style="font-size: 2.5em; text-align: center; color: white; margin-bottom: 20px; margin-top: 20px;"> <%= @cocktail.name %> </h1>
    <% @doses.each do |dose| %>
      <div style="display: flex; width: 100%; justify-content: space-between; align-items: center; max-width: 500px;">
        <p style="font-family: 'Cormorant Garamond', serif; color: white; font-size: 1.7em;">
          <%= dose.ingredient.name %>
        </p>

        <div style="border-top: 1px solid white; flex-grow: 1; height: 10px; margin-left: 8px; margin-right: 8px;"></div>

        <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.7em; color: #E67E22;">
          <%= dose.description %>
        </p>
      </div>
    <% end %>
  </div>
</div>



<%# <button id="btn-add-dose">Add an ingredient</button>
<%= render 'doses/form', cocktail: @cocktail, dose: @dose %> %>

<%# <span class="dose-options"> %>
  <%#= link_to dose_path(dose), method: :delete, data: {confirm: 'Delete this ingredient?'} do %>
    <%# <i class="fas fa-trash text-light"></i> %>
  <%# end %>
<%# </span> %>