<div class="container" style="background-color: white; display: flex; flex-direction: column; align-items: center;">
  <h1>My Page</h1>

  <h1>My Created Cocktails:</h1>
  <% @my_cocktails.each do |cocktail| %>
    <div>
      <%= cocktail.name %>

      <% if cocktail.photo.attached? %>
        <%= cl_image_tag(cocktail.photo.key, width: 500, height: 500, crop: "fit")  %>
      <% else %>
        <%= image_tag 'no_image.png' %>
      <% end %>
    </div>
  <% end %>


  <h1>Saved Cocktails:</h1>
  <% @saved_cocktails.each do |saved_cocktail| %>
    <div>
      <%= saved_cocktail.cocktail.name %>

      <% if saved_cocktail.cocktail.photo.attached? %>
        <%= cl_image_tag(saved_cocktail.cocktail.photo.key, width: 500, height: 500, crop: "fit")  %>
      <% else %>
        <%= image_tag 'no_image.png' %>
      <% end %>
    </div>
  <% end %>
</div>




