<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar-cocktail">
  <div class="navbar-links">
    <%= link_to cocktails_path do %>
      <i class="fas fa-glass-martini-alt"></i>
    <% end %>
  </div>


  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon" id="hamburger">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div id="myLinks" style="border-bottom: 1px solid orange;">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Contact', contact_path %>
  <% if user_signed_in? %>
    <%= link_to 'My Cocktails', user_path(current_user) %>
    <%= link_to 'New Cocktail', new_cocktail_path %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Log In', new_user_session_path %>
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% end %>
</div>
